.board {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 480px;
  border: 4px solid #333;
}

.board-row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}

.light-square {
  background-color: #f0d9b5;
  color: #b58863;
}

.dark-square {
  background-color: #b58863;
  color: #f0d9b5;
}

.selected {
  background-color: #7b9c48 !important; /* Green highlight for selection */
}

.highlight {
    background-color: rgba(255, 255, 0, 0.5) !important;
}

.piece {
  font-weight: bold;
}

.piece.w {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.piece.b {
  color: #000;
}
